.wd-body-width-598px {
    width: 598px;
}

.wd-font-color-white {
    color: white;
}

.wd-dimension-580 {
    width: 580px;
}

.wd-font-color-light-gray {
    color: lightgray;
}

.wd-font-size-20px {
    font-size: 20px;
}

.wd-bg-color-black {
    background-color: black;
}

.wd-font-family-arial {
    font-family: Arial;
}

.wd-font-size-13px {
    font-size: 13px;
}

.wd-padding-left-16px {
    padding-left: 16px;
}

.wd-padding-top-12px {
    padding-top: 12px;
}

.wd-padding-bottom-12px {
    padding-bottom: 12px;
}

.wd-border-solid-thin-top {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

.wd-border-color {
    border-color: rgb(47, 51, 54);
}

.wd-font-family-arial-bold {
    font-family: "Arial Rounded MT Bold"
}

.wd-border-solid-thin {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.wd-font-size-15px {
    font-size: 15px;
}

.wd-margin-left-12px {
    margin-left: 12px;
}

.wd-margin-horizontal-16px {
    margin-left: 16px;
    marin-right: 16px;
}

.wd-grid-row {
    clear: both;
}

.wd-remove-text-decoration {
    text-decoration: none;
}

.wd-dimension-square-15-15 {
    height: 15px;
    width: 15px;
}

.wd-padding-top-16px {
    padding-top: 16px;
}
